@import "tailwindcss";

@source not "./tailwindcss";
@source not "./daisyui{,*}.mjs";

@plugin "./assets/daisyui/daisyui.mjs" {
  themes: aqua --default;
}

@plugin "./assets/daisyui/daisyui-theme.mjs" {
  name: "aqua";
  default: true;
  --noise: 1;
  --font-sans: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'TT Interphase';
  --font-serif: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Harper';
}
